<!DOCTYPE html>
<html ng-app="app">
<head>
</head>
<body>

    <div ng-view></div>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/coreApp")
    @Scripts.Render("~/bundles/other")


</body>
</html>