<!DOCTYPE html>
<html ng-app="app">
<head>
</head>
<body>

    <div ng-view></div>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    
    <script src="~/App/app.js"></script>

    <script src="~/App/Landing/landingModule.js"></script>
    <script src="~/App/Landing/landingCtrl.js"></script>
    <script src="~/App/Landing/landingFactory.js"></script>
    <script src="~/App/Landing/directives/mainTable/mainTable.js"></script>


    @Styles.Render("~/Content/css")



</body>
</html>